.alice-carousel__wrapper {
   /* border-radius: 10px;
   width: 80% !important;
   height: 80% !important; */
}

.alice-carousel__prev-btn {
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   margin: auto;
   max-width: 50px;
   max-height: 50px;
   padding: 0 !important;
}

.alice-carousel__next-btn {
   position: absolute;
   bottom: 0;
   top: 0;
   right: 0; 
   margin: auto;
   max-width: 50px;
   max-height: 50px;
   padding: 0 !important;
}

.alice-carousel__dots {
   position: absolute;
   justify-self: center;
   /* width: 100%; */
}

.alice-carousel__dots-item {
   background-color: rgba(255, 255, 255, 0.4) !important;
   border-radius: 8px !important;
   transition: all 0.4s ease !important;
}

.alice-carousel__dots-item.__active {
   background-color: rgba(255, 255, 255, 1) !important;
   width: 36px !important;
   margin-right: 0 !important;
}

.alice-carousel__dots-item.__active + .alice-carousel__dots-item  {
   margin-left: -8px !important;
}

.alice-carousel__dots-item:last-child {
   margin-right: 28px;
}

.alice-carousel__dots-item:last-child::after {
   content: '';
   display: flex;
   margin-left: 28px;
   width: 8px;
   height: 8px;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 8px !important;
   transition: all 0.4s ease !important;
}


.alice-carousel__stage-item {
}

.alice-carousel {
   width: 80% !important;
}

.alice-carousel > div:first-child {
   /* height: 100% !important; */
}