.footer {
   backdrop-filter: blur(10px);
   background-color: rgba(rgb(0, 0, 0), 0.1);
   box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
   margin-top: auto;
}

.container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.column {
   flex: 1;
   display: flex;
   flex-direction: column;
   height: 300px;

   &:first-child {
      flex: 2;
   }
}

.title {
   color: #fff;
   font-family: Georgia, serif;
   font-size: 20px;
   line-height: 20px;
   margin-bottom: 15px;
   margin-top: 15px;
   font-weight: 400;
}

.text {
   color: #ddd;
   font-family: Arial, sans-serif;
   font-size: 16px;
   line-height: 20px;
   margin: 5px 0 0 0;
   font-weight: 300;
}