.footer {
   margin-top: auto;
   position: relative;
   padding: 10px;
}

.container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   backdrop-filter: blur(10px);
   background-color: rgba(rgb(0, 0, 0), 0.3);
   border-radius: 30px;
   padding: 50px;
   overflow: hidden;
}

.column {
   flex: 1;
   display: flex;
   flex-direction: column;
   height: 300px;
   align-items: center;
   width: fit-content;
   

   &:first-child {
      // flex: ;
   }

   &Section {
      // width: fit-content;
      align-self: flex-end;
   }
}


.title {
   color: #fff;
   font-family: Georgia, serif;
   font-size: 24px;
   line-height: 24px;
   margin-bottom: 15px;
   width: 100%;
   align-self: flex-start;
   text-align: center;
   font-weight: 400;
   padding-bottom: 10px;
   border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
}

.infoRow {
   display: flex;
   align-items: center;
   justify-items: center;
   margin-bottom: 10px;
}

.text {
   color: #ddd;
   font-family: Arial, sans-serif;
   font-size: 16px;
   font-weight: 300;
   height: 18px;
   line-height: 24px;
}

.copyRight {
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin: auto;
   text-align: center;
   color: #ddd;
   font-family: Arial, sans-serif;
   font-size: 14px;
   font-weight: 300;
   padding: 15px 0;
   border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
   width: 70%;

}

.infoFaIcon {
   margin-right: 8px;
   background-color: rgba($color: #fff, $alpha: 0.1);
   border-radius: 30px;
   padding: 4px;
   width: 16px;
   height: 16px;
   color: #fff;
}

.infoLogoIcon {
   margin-right: 8px;
   background-color: rgba($color: #fff, $alpha: 0.1);
   padding: 4px;
   border-radius: 30px;
   width: 24px;
   height: 24px;
   color: #fff;
}