.upComingSection {
}

.sliderBtn {
   width: 50px;
   height: 50px;
   border-radius: 25px;
}

.prevBtn {
   // margin-left: -70px;
}

.nextBtn {
   // margin-left: 70px;
}

.title {
   width: 100%;
   text-align: center;
   color: rgba($color: #ccc, $alpha: 1.0);
   font-size: 18px;
   margin-bottom: 25px;
   font-weight: 200;
}