.header {
   display: flex;
   flex-direction: row;
   margin-bottom: 25px;
   padding: 10px;
}

.container {
   display: flex;
   justify-content: space-between;
   backdrop-filter: blur(10px);
   background-color: rgba(rgb(0, 0, 0), 0.1);
   padding: 10px 25px;
   border-radius: 30px;
   align-items: center;
}

.title {
   font-family: Georgia, serif;
   font-weight: 400;
   color: rgba($color: #fff, $alpha: 0.8);
   font-size: 48px;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: fit-content;
   height: fit-content;

}

.languageSwitcher {
   border-radius: 30px;
   overflow: hidden;
   padding: 5px 15px;
   height: fit-content;
   border-width: 0;
   background-color: rgba($color: #fff, $alpha: 0.1);
   box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);

   &:hover {
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);

   }
}

.flag {
   width: 30px;
   height: 30px;
   object-fit: cover;
}