.menuAsideRow {
   
   cursor: pointer;
   font-size: 20px;
   line-height: 20px;
   border: 3px solid #ccc;
   backdrop-filter: blur(5px);
   background-color: rgba($color: #fff, $alpha: 0.1);
   transition: all 0.3s, color 0.3s;
   padding: 5px;
   transition: border 0s;
   color: #fff;   
   font-weight: 400;
   border-radius: 25px;

   margin-bottom: 10px;

   &:last-child {
      margin-bottom: 0;
   }
   

   &:hover {
      width: 100%;
      border: 3px solid #FFF;
      background-color: rgba($color: #fff, $alpha: 0.3);
   }
   &Modal {
      height: 0;
      display: flex;
      width: 90%;
      align-self: flex-end;
      transition: all 0.3s;
      overflow: hidden;
      max-height: 400px;
      border-radius: 10px;
      position: relative;
      background-color: #ccc;
      flex-direction: column;

      &Open {
         height: 100%;
         border: 10px solid #ccc;
         border-right: 5px solid #ccc;
         margin-bottom: 10px;
         overflow-y: auto;
      }
      
      &::-webkit-scrollbar-thumb {
         border-color: #ccc;
      }
   }

   &Main {
      display: flex;
      flex-wrap: nowrap;
      color: #2C3E50;
      // justify-content: center;
      font-size: 25px;
      line-height: 30px;
      // margin-bottom: 10px;
      transition: all 1s;
      border-radius: 10px;
      cursor: pointer;
      padding: 2.5px 10px;
      // justify-content: flex-start;
      &:hover {
         // justify-content: center;
         // text-align: center;
         // align-items: center;
         // background-color: #ccc; 
         transform: scale( 1.05 );
      }
      // &Open{
      //    background-color: #ccc; 
      // }
   }

   &Btn {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: rgba(44, 62, 80, 0.5);
   }
}


.logo {  
   min-width: 39px;
   text-align: center;
   // display: inline-flex;
   // width: 100%;
   // justify-content: center;
   // justify-content: center;
}

.content {
   display: none;
   // justify-content: space-between;
   color: #fff;
   text-wrap: nowrap;
}

.contentSelect {
   display: none;
   padding-left: 5px;
   justify-content: space-between;
   width: 100%;

   border: 0;
   color: #2C3E50;
   font-size: 25px;
   line-height: 30px;
   font-weight: 600;

}

.openBtn {
   display: inline-flex;
   align-self: center;
}

.displayFlex {
   display: flex;
}


@media ( max-width: 768px ) {
   .menuAsideRow {
      &Main {
         font-size: 20px;
         line-height: 25px;
      }

      &Btn {
         font-size: 12px;
         line-height: 16px;
      }
   }
}


@media ( max-width: 992px ) {
   .menuAsideRow {
      &Main {
         font-size: 23px;
         line-height: 28px;
      }

      &Btn {
         font-size: 14px;
         line-height: 18px;
      }
   }
}