.concertCardPersonButton {
   background-color: rgba($color: #000000, $alpha: 0);
   display: flex;
   flex-direction: row;
}

.icon {
   margin-right: 10px;
   color: white;
   border: 5px solid #5b1e63;
   width: 40px;
   height: 40px;
   border-radius: 25px;
   overflow: hidden;
   background-color: rgba($color: #5b1e63, $alpha: 1.0);
}

.info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: #000000;
}