.concertCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid #ccc;
   position: relative;
   border-radius: 15px;
   overflow: hidden;
   left: 0;
   right: 0;
   margin: auto;
   background-color: rgba($color: #fff, $alpha: 1);
   width: 100%;

   
   &:hover .image {
      transform: scale(1.03);
   }
}


.calendarButton {
   position: absolute;
   right: 15px;
   top: 15px;
   border-radius: 10px;
   margin: auto;
   color: #fff;
}

.readMoreButton {
   width: 80%;
   margin-bottom: 5px;
}

.image {
   width: 100%;
   object-fit: cover;
   transition: all 0.4s;

}

.imageWrapper {
   width: 100%;
   height: 200px;
   overflow: hidden;
}

.title {
   color: #101828;
   font-family: Georgia, serif;
   font-size: 35px;
   line-height: 35px;
   margin: 30px 0px;
   font-weight: 400;
}


.dateBlock {
   display: flex;
   width: 80%;
   justify-content: space-around;
   flex-direction: row;
   margin: 10px 0px;
}

.dateBlockButton {
   background-color: rgba($color: #000000, $alpha: 0);
   border: 0px solid;
   color: #3f4a5b;
}

.infoIcon {
   margin-right: 8px;
   background-color: #f3e8ff;
   border: 6px solid #f3e8ff;
   border-radius: 30px;
   width: 20px;
   height: 20px;
}

.membersBlock {
   width: 80%;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}

.membersButton {
   margin: 5px 0px;
}