* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html {
   font-size: 62.5%; 
}

body {
   font-family: "Rubik", sans-serif;
   line-height: 1;
   font-weight: 400;
   background-color: transparent;
   /* width: auto; */
}

.wrapper {
   margin: 0 auto;
   width: auto;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background: linear-gradient(
      135deg,
      #abbbdf 0%,
      #525e81 40%,
      #839ec6 70%,
      #6078a1 100%
   );
}
 
.container {
   width: 100%;
   padding: 0 10px;
   max-width: 1620px;
   margin: 0 auto;
   display: block; 
   position: relative;
}

.main {
   overflow: hidden;
   margin-left: 200px;
   width: calc(100% - 200px);
   justify-content: center;
}

a {
   text-decoration: none;
}

li {
   display: inline-flex;
}

button {
   cursor: pointer;
   border: 0;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 24px;
}

/* TRACK — BLUE BACKGROUND + 5 STRONG VERTICAL STAFF LINES */
::-webkit-scrollbar-track {
  background:
    #6078a1; /* blue background */
}

/* THUMB — MUSIC NOTE SYMBOL */
::-webkit-scrollbar-thumb {
   background-image: url("/public/Images/violinKey.svg");
   background-repeat: no-repeat;
   background-size: 50px;
   background-position: -13px 0;
   width: 60px;
   height: 60px;
}

/* NOTE SYMBOL */
::-webkit-scrollbar-thumb::after {
  content: "fajefjeh";
  font-size: 30px;
  font-weight: bold;
  color: #000;
  display: block;
  text-align: center;
  line-height: 40px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover::after {
  transform: scale(1.2);
}
