.concertCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid #fff;
   position: relative;
   border-radius: 15px;
   overflow: hidden;
   left: 0;
   right: 0;
   margin: auto;
   background-color: rgba($color: #fff, $alpha: 0.6);
   width: 80%;
}

.calendarButton {
   position: absolute;
   right: 15px;
   top: 15px;
   border-radius: 10px;
   margin: auto;
   color: #fff;
   font-weight: 600;
}

.readMoreButton {
   width: 80%;
   margin-bottom: 5px;
}

.image {
   width: 100%;
   height: 200px;
   object-fit: cover;
}

.title {
   color: #000000;
   font-family: "Georgia Pro";
   font-size: 30px;
   line-height: 50px;
}
